body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #feefe9;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    transition: background-color 0.4s ease-in-out;
}


body:hover {
    background-color: black;
}

h1 {
    text-align: center;
}