{% extends "base/base.html" %}

{% block title %}CREATE TRUCK VIEW{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4 text-success">Register New Truck</h2>
    
    <form method="POST">
        {% csrf_token %}
        
        <div class="mb-3">
            <label for="economic_number" class="form-label fw-bold">Economic Number</label>
            <input type="text" name="economic_number" id="economic_number" class="form-control" required>
        </div>
        
        <div class="mb-3">
            <label for="plates" class="form-label fw-bold">Plates</label>
            <input type="text" name="plates" id="plates" class="form-control" required>
        </div>
        
        <div class="mb-3">
            <label for="brand" class="form-label fw-bold">Brand</label>
            <input type="text" name="brand" id="brand" class="form-control" required>
        </div>
        
        <div class="form-check mb-4 mt-3">
            <input type="checkbox" name="is_active" id="is_active" class="form-check-input" checked>
            <label class="form-check-label" for="is_active">In Route / Active</label>
        </div>

        <hr>

        <div class="mt-4 mb-5">
            <button type="submit" class="btn btn-success me-2">
                Save Truck
            </button>
            <a href="{% url 'home:list_trucks' %}" class="btn btn-secondary">
                Cancel
            </a>
        </div>
    </form>
</div>
{% endblock %}