{% extends "base/base.html" %}

{% block title %}LIST GPS VIEW{% endblock %}
{% block content %}
<a href="{% url 'home:create_gps' %}" class="btn btn-outline-success form-control">Create GPS</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>BRAND</th>
                <th>MODEL</th>
                <th>STATUS</th>
                <th>ACTIONS</th>
            </tr>
        </thead>
        <tbody>
            {% for gps in gps_list %}
            <tr>
                <td>{{ gps.id }}</td>
                <td>{{ gps.brand }}</td>
                <td>{{ gps.model }}</td>
                <td>
                    {% if gps.is_active %}
                        <span class="badge bg-success">Active</span>
                    {% else %}
                        <span class="badge bg-danger">Inactive</span>
                    {% endif %}
                </td>
                <td><a href="{% url 'home:detail_gps' gps.id %}" class="btn btn-outline-info">Detail</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}