body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f8;
    /*background-image: url('https://cdn.wallpapersafari.com/40/0/aESwt1.jpg');*/
    background-image: url('https://images6.alphacoders.com/136/thumb-1920-1365621.png.jpg');
    background-size: cover;
    margin: 0;
    padding: 0px;
}


h1 {
    color: #1a0c55;
    text-align: center;
}

p {
    color: #1a0939;
    text-align: center;
}

form{
    width: 400px;
    margin: 30px auto;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    color: #333;
    font-weight: bold;
}

input[type="text"], 
input[type="email"], 
input[type="password"],
input[type="number"] {
    width: 100%;
    padding: 08px;
    margin-top: 5px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #ccc;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 10px;
}

textarea {
    resize: none;
}

button {
    background-color: #5f84a9;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
}

button:hover {
    background-color: #4c6274;
}